nav, ul {
    height: 100% !important;
}
nav > ul > li {
    transition: color 120ms;
    display: inline-flex;
    align-items: center;
}
nav > ul > li:hover {
    border-bottom: 3px solid #ff5a00;
    color: #ff5a00 !important;
}
nav > ul > li > a {
    color: inherit !important;
    border-bottom: none !important;
    padding: 0 !important;
}
#parent_dropdown {
    overflow: visible !important;
}
.dropdown_button:hover .mydropdown {
    visibility: visible !important;
    opacity: 1 !important;
    height: auto !important;
}
.mydropdown {
    height: 0 !important;
    visibility: hidden;
    opacity: 0;
    border: 1px solid gray;
    box-shadow: 0 0 4px #c1c1c1;
    max-width: none !important;
    position: relative !important;
    z-index: 999999 !important;
    background-color: white !important;
    width: auto !important;
    padding: 10px !important;
}
.mydropdown > li {
    height: 40px !important;
    margin: 0 !important;
}
.mydropdown > li > a {
    border-bottom: none !important;
    height: 100% !important;
    display: block !important;
    line-height: 40px !important;
    padding: 0 !important;
}   
@media screen and (min-width: 768px) {
    .mydropdown {
        left: 0 !important;
    top: 0 !important;
        position: absolute !important;
         top: 96px !important;
        min-width: 200px !important;
    }
}